<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dndn.promotions.repository.PromotionRepository">

    <select id="getUser" resultType="com.dndn.promotions.model.UserVO" parameterType="com.dndn.promotions.model.UserVO">
        SELECT id, contact, draw_cnt
        FROM devmanta.users
        <where>
            <if test="contact != null">
                AND contact = #{contact}
            </if>
            <if test="id != null">
                AND id = #{id}
            </if>
        </where>
    </select>

    <insert id="insertUser" parameterType="com.dndn.promotions.model.UserVO" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO devmanta.users(contact)
      VALUES (#{contact})
    </insert>

    <select id="getDrawResult" resultType="com.dndn.promotions.model.UserDrawResultVO">
        SELECT u.*, d.amount
        FROM devmanta.users u
             JOIN devmanta.draw_result dr ON u.id = dr.user_id
             JOIN devmanta.draw d ON dr.draw_id = d.id
    </select>

    <update id="updateUserDrawCntById" parameterType="com.dndn.promotions.model.UserVO">
        UPDATE devmanta.users
        SET draw_cnt = #{drawCnt}
        WHERE id = #{id}
    </update>

    <delete id="deleteDrawResultByUserId">
        DELETE FROM devmanta.draw_result
        WHERE user_id = #{userId}
    </delete>

    <select id="getDrawtById" resultType="com.dndn.promotions.model.DrawVO">
        SELECT id, amount, total, winner_cnt
        FROM devmanta.draw
        WHERE id = #{id}
    </select>

    <update id="updateDrawWinnerCntById" parameterType="com.dndn.promotions.model.DrawVO">
        UPDATE devmanta.draw
        SET winner_cnt = #{winnerCnt}
        WHERE id = #{id}
    </update>

</mapper>