<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dndn.promotions.repository.PromotionRepository">

    <resultMap id="userEntity" type="com.dndn.promotions.model.UserEntity">
        <result column="id" property="id"/>
        <result column="contact" property="contact"/>
        <result column="draw_cnt" property="drawCnt"/>
    </resultMap>
    <resultMap id="userDrawResultEntity" extends="userEntity" type="com.dndn.promotions.model.UserDrawResultEntity">
        <result column="amount" property="amount"/>
    </resultMap>

    <resultMap id="drawEntity" type="com.dndn.promotions.model.DrawEntity">
        <result column="id" property="id"/>
        <result column="amount" property="amount"/>
        <result column="total" property="total"/>
        <result column="winner_cnt" property="winnerCnt"/>
    </resultMap>

    <select id="getUser" resultMap="userEntity" parameterType="com.dndn.promotions.model.UserEntity">
        SELECT id, contact, draw_cnt
        FROM devmanta.users
        <where>
            <if test="contact != null">
                AND contact = #{contact}
            </if>
        </where>
    </select>

    <insert id="insertUser" parameterType="com.dndn.promotions.model.UserEntity" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO devmanta.users(contact, create_date)
      VALUES (#{contact}, now())
    </insert>

    <select id="getDrawResultList" resultMap="userDrawResultEntity">
        SELECT u.*, d.amount
        FROM devmanta.users u
             JOIN devmanta.draw_result dr ON u.id = dr.user_id
             JOIN devmanta.draw d ON dr.draw_id = d.id
        UNION ALL
        SELECT u.*, d.amount
        FROM devmanta.users u
             JOIN devmanta.draw_result_history drh ON u.id = drh.user_id
             JOIN devmanta.draw d ON drh.draw_id = d.id
    </select>

    <select id="getDrawResultWithUserDetail" resultMap="userDrawResultEntity">
        SELECT u.*, d.amount
        FROM devmanta.users u
        JOIN devmanta.draw_result dr ON u.id = dr.user_id
        JOIN devmanta.draw d ON dr.draw_id = d.id
        WHERE u.id = #{userId}
    </select>

    <select id="getDrawResultByUserId" resultType="Map">
        SELECT user_id as 'userId', draw_id as 'drawId'
        FROM devmanta.draw_result
        WHERE user_id = #{userId}
    </select>

    <insert id="insertDrawResult" parameterType="Map">
        INSERT INTO devmanta.draw_result(user_id, draw_id, create_date) VALUES (#{userId}, #{drawId}, now())
    </insert>

    <update id="addUserDrawCntById" parameterType="com.dndn.promotions.model.UserEntity">
        UPDATE devmanta.users
        SET draw_cnt = draw_cnt + 1
        WHERE id = #{id}
    </update>

    <delete id="deleteDrawResultByUserId">
        DELETE FROM devmanta.draw_result
        WHERE user_id = #{userId}
    </delete>

    <select id="getDrawtById" resultMap="drawEntity">
        SELECT id, amount, total, winner_cnt
        FROM devmanta.draw
        WHERE id = #{id}
    </select>

    <select id="getDrawList" resultMap="drawEntity">
        SELECT id, amount, total, winner_cnt
        FROM devmanta.draw
        ORDER BY id
    </select>

    <update id="addDrawWinnerCntById">
        UPDATE devmanta.draw
        SET winner_cnt = winner_cnt + 1
        WHERE id = #{drawId}
    </update>

    <update id="deductDrawWinnerCntById">
        UPDATE devmanta.draw
        SET winner_cnt = winner_cnt - 1
        WHERE id = #{drawId}
    </update>

    <select id="isSoldOut" resultType="boolean">
        SELECT IF(SUM(total) = SUM(winner_cnt), 1, 0) FROM devmanta.draw
    </select>

    <insert id="insertUserShare">
        INSERT INTO devmanta.user_share(contact, create_date) values(#{contact}, now())
    </insert>

    <select id="getUserShareByContact" resultType="Map">
        SELECT contact, create_date as 'createDate'
        FROM devmanta.user_share
        WHERE contact = #{contact}
    </select>

    <delete id="deleteUserShareByContact">
        DELETE FROM devmanta.user_share
        WHERE contact= #{contact}
    </delete>

    <insert id="insertDrawResultHistory">
        INSERT INTO devmanta.draw_result_history
        SELECT * from devmanta.draw_result WHERE user_id = #{userId}
    </insert>

</mapper>